<div [class.collapsed]="isCollapsed" class="sidebar-container">
  <button class="toggle-btn" (click)="toggleSidebar()">
    {{ isCollapsed ? '>' : '<' }}
  </button>
  <div class="menu-content" *ngIf="!isCollapsed">
    <a routerLink="/home" routerLinkActive="active"><h2>Menu</h2></a>
    <ul class="menu-list">
      <li>
        <a routerLink="/add-player" routerLinkActive="active">Add Player</a>
      </li>
      <li>
        <a routerLink="/add-team" routerLinkActive="active">Add Team</a>
      </li>
    </ul>
  </div>
</div>
