<div class="welcome-container">
  <h1>Welcome to Sports Manager</h1>
  <div class="date-time">
    <span class="current-date">{{ currentDate }}</span>
    <span class="current-time">{{ currentTime }}</span>
  </div>
  <p>
    Manage your players, teams, and matches with ease. Navigate through the options below to get started.
  </p>

  <div class="carousel">
    <app-carousel></app-carousel>
  </div>

  <div class="welcome-buttons">
    <a routerLink="/add-player" class="welcome-btn">Add a player</a>
    <a routerLink="/add-team" class="welcome-btn">Add a team</a>
    <a routerLink="/rankings" class="welcome-btn">View rankings</a>
    <a routerLink="/matches" class="welcome-btn">View matches</a>
  </div>




</div>
